head{
    text-align:center;
    padding:0;
    border: 10px black;
}

/* horizontal navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}




body {
    background: #ffffff;
    background-size: cover;
    padding-top:50px;
}
fieldset{
    width: 98%;
    height: 100%;
    border: solid silver;
    display: block;
    position: center;
    text-align: center;
}
.headshot{
    border-radius: 50%;
}
.textIntroduction{
    display:inline;
    position: relative;
    text-align: center;
}
.introText{
    font-family: Verdana, serif;
    text-align: center;
    padding-right: 30px;
    font-size: 1vw;
    color: #222222;
    top:0;
}

