head{
    text-align:center;
    padding:0;
    border: 10px black;
}

/* horizontal navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}

body {
    position: relative;
    background: #ffffff;
    background-size: cover;
    padding-top:50px;
    width:99%;
    height: 90%;
}


.parentField{
    width: 98%;
    height: 100%;
    border: solid silver;
    display: block;
    position: center;
    text-align: center;
}

.textIntroduction{
    position: center;
    background: lightgray;
    text-align: center;
    font-size: 45px;
    color: #ffffff;
    padding-top: 30px;
    height:50px;
}


.row1{
    margin-bottom: 15px;
}
.row2{
    margin-bottom: 15px;
}
.row3{
    margin-bottom: 15px;
}
.row4{
    margin-bottom: 15px;
}

.matrixmathPhoto{
    position: center;
    width:150px;
    height:150px;
}
.topoPhoto{
    position: center;
    width:150px;
    height:150px;
}
.URSCAphoto{
    position: center;
    float:left;
    width:250px;
    height:150px;
}
.render2photo{
    position: center;
    float:left;
    width:150px;
    height:150px;
}
.render3photo{
    position: center;
    float:left;
    width:150px;
    height:150px;
}
.render4photo{
    position: center;
    float:left;
    width:150px;
    height:150px;
}
.capstonePhoto{
    position: center;
    width:150px;
    height:150px;
}


.leftField{
    width: 3%;
    height: 30%;
    display: inline-block;
}
.rightField{
    width: 65%;
    padding-top: 30px;
    display: inline-block;
    float:right;
}

.introText{
    position: center;
    font-family: Verdana, serif;
    text-align: center;
    padding-top:30px;
    padding-bottom: 20px;
    padding-right: 30px;
    font-size: 200%;
    background-color: black;
    color: #ffffff;
    top:0;
    height:50px;
}
